* {
    margin: 0;
    padding: 0;
}

h2{
    text-align: center;
}

ul{
    list-style: none;
}

.slider img{
    width: 100%;
    height: 50vw;
    object-fit: cover;
}

img{
   width: 100%;
}

header{
    background: black;
    width: 100%;
    color: white;
}

.wrap{
    width: 80%;
    max-width: 1180px;
    margin: 0 auto;
}

.flex{
    display: flex;
}

.flex li a{
    margin: 0 10px 0 10px;
}

.box{
    width: 50%;
}

.box p{
    margin-left: 20px;
}
.mt-5{
    margin-top: 5em;
}

.item img{
    display: flex;
}
.section-title{
    margin: 3em 0 1em 0;
    font-size: 32px;
}

ul.item li{
    width: calc(100% / 3);
}

ul.item li:nth-of-type(2){
    margin: 0 0.5%;
}
.bg-image{
    background-image: url("../skill/img_home01.jpg");
    width: 100%;
    max-height: 660px;
    background-size: 100%;
    background-repeat: no-repeat;
    padding: 7em 0;
}

.coment p{
    text-align: center;
}

h1{
    color: white;
    background-color:black;
    display: inline-block;
}

.text-center{
    text-align: center;
}

.text-center h2{
    color: white;
    background-color: black;
    width: 25%;
    display: inline-block;
}

.footer-bg p{
    color: white;
    background-color: black;
    text-align: center;
}

@media screen and (max-width: 767px){
    /* 携帯サイズ */
    /* 0~767 */
    .pc-wrap{
        display: none;
    }

    .pc-wrap li{
        display: list-item;
    }

    .pc-wrap .box .fa-bars{
        float: left;
    }

    .slick-next {
        right: 20px !important;
    }

    .slick-prev {
        left: 10px !important;
    }


}
@media screen and (min-width: 1180px){
    /* pcサイズ */
    /* 768~1179 */
    .sp-wrap{
        display: none;
    }
}