* {
    margin: 0;
    padding: 0;
}

ul{
    list-style: none;
}

img{
   width: 100%;
}

header{
    background: black;
    width: 100%;
    color: white;
}

.wrap{
    width: 80%;
    max-width: 1180px;
    margin: 0 auto;
}

.flex{
    display: flex;
}

.flex li{
    margin: 0 10px 0 10px;
}

.box{
    width: 50%;
}

.box p{
    margin-left: 20px;
}
.mt-5{
    margin-top: 5em;
}

.item img{
    display: flex;
}
.section-title{
    margin: 3em 0 1em 0;
    font-size: 32px;
}

ul.item li{
    width: calc(100% / 3);
}

ul.item li:nth-of-type(2){
    margin: 0 0.5%;
}
.bg-image{
    background-image: url("../skill/img_home01.jpg");
    width: 100%;
    max-height: 660px;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 7em 0;
}
.coment p{
    text-align: center;
}
h1{
    color: white;
    background-color:black;
    display: inline-block;
}
.text-center{
    text-align: center;
}

.text-center h2{
    color: white;
    background-color: black;
    width: 25%;
    display: inline-block;
}

.footer-bg p{
    color: white;
    background-color: black;
    text-align: center;
}
